/* Homepage responsive */
@media screen and (max-width: 1920px) {
  #menu {
    display: none;
  }
  .menu-bg {
    display: none;
  }
}
@media screen and (max-width: 1800px) {
  #videobox video {
    width: 580px;
  }
}
@media screen and (max-width: 1366px) {
  #desktop-nav {
    padding: 20px 10%;
  }
  #desktop-nav .group {
    top: 10px;
  }
  .swiper-slide .wallpaper {
    width: 1500px;
    height: auto;
  }

  .container {
    min-height: 750px;
  }
  .container .logo2 {
    width: 600px;
    height: auto;
    top: 150px;
    left: 50px;
  }

  #videobox video {
    width: 580px;
  }
}
@media screen and (max-width: 1200px) {
  #desktop-nav {
    padding: 35px 10%;
  }
  .nav-links li a {
    display: none;
  }
  #menu {
    display: block;
  }
  .menu-bg {
    display: block;
  }
  #desktop-nav .group {
    left: 10px;
    top: 10px;
  }
  form {
    display: none;
  }
  .swiper-slide .logo1 {
    width: 500px;
    top: 20px;
    left: 45px;
  }
  .swiper-slide .logo2 {
    width: 500px;
    top: 70px;
    left: 45px;
  }
  .swiper-slide .logo3 {
    width: 450px;
    top: 20px;
    left: 45px;
  }
  .swiper-slide .logo4 {
    width: 500px;
    top: 70px;
    left: 10px;
  }
  .swiper-slide .logo5 {
    width: 500px;
    top: 40px;
    left: 45px;
  }
  .swiper-slide .logo6 {
    width: 500px;
    top: 20px;
    left: 45px;
  }
  .swiper-slide .logo7 {
    width: 500px;
    top: 30px;
    left: 45px;
  }
  .swiper-slide .logo8 {
    width: 500px;
    top: 10px;
    left: 45px;
  }
  .swiper-slide .logo9 {
    width: 700px;
    top: 70px;
    left: 45px;
  }

  .home-text h1 {
    font-size: 20px;
    margin-left: 50px;
    margin-top: 225px;
  }

  #videobox video {
    width: 480px;
  }
  #videobox {
    top: 380px;
  }
}
@media screen and (max-width: 1000px) {
  #desktop-nav {
    padding: 35px 10%;
  }
  #desktop-nav .group {
    top: 10px;
  }
  .swiper-slide .wallpaper {
    width: 1500px;
    height: auto;
  }
  .container {
    min-height: 550px;
  }
  .swiper-slide .logo1 {
    width: 400px;
    top: 20px;
    left: 45px;
  }
  .swiper-slide .logo2 {
    width: 400px;
    top: 50px;
    left: 45px;
  }
  .swiper-slide .logo3 {
    width: 320px;
    top: 20px;
    left: 45px;
  }
  .swiper-slide .logo4 {
    width: 400px;
    top: 30px;
    left: 10px;
  }
  .swiper-slide .logo5 {
    width: 350px;
    top: 40px;
    left: 45px;
  }
  .swiper-slide .logo6 {
    width: 400px;
    top: 20px;
    left: 45px;
  }
  .swiper-slide .logo7 {
    width: 400px;
    top: 30px;
    left: 45px;
  }
  .swiper-slide .logo8 {
    width: 350px;
    top: 10px;
    left: 45px;
  }
  .swiper-slide .logo9 {
    width: 500px;
    top: 50px;
    left: 45px;
  }

  .home-text h1 {
    font-size: 16px;
    margin-left: 50px;
    margin-top: 165px;
  }

  #videobox video {
    width: 420px;
  }
  #videobox {
    top: 210px;
  }
}

@media screen and (max-width: 800px) {
  #desktop-nav {
    padding: 30px 10%;
  }
  #desktop-nav .group {
    top: 10px;
  }
  #desktop-nav .element {
    width: 60px;
  }
  #desktop-nav .text-wrapper {
    font-size: 12px;
    top: 43px;
    left: 70px;
  }
  #desktop-nav .div {
    font-size: 20px;
    top: 8px;
    left: 70px;
  }
  .menu-bg,
  #menu {
    top: 5px;
  }
  .swiper-slide .wallpaper {
    width: 800px;
    height: auto;
  }
  .swiper-slide .logo1 {
    width: 250px;
    top: 20px;
    left: 45px;
  }
  .swiper-slide .logo2 {
    width: 250px;
    top: 50px;
    left: 45px;
  }
  .swiper-slide .logo3 {
    width: 200px;
    top: 20px;
    left: 45px;
  }
  .swiper-slide .logo4 {
    width: 250px;
    top: 30px;
    left: 30px;
  }
  .swiper-slide .logo5 {
    width: 200px;
    top: 40px;
    left: 45px;
  }
  .swiper-slide .logo6 {
    width: 250px;
    top: 50px;
    left: 45px;
  }
  .swiper-slide .logo7 {
    width: 250px;
    top: 30px;
    left: 45px;
  }
  .swiper-slide .logo8 {
    width: 250px;
    top: 10px;
    left: 45px;
  }
  .swiper-slide .logo9 {
    width: 250px;
    top: 50px;
    left: 45px;
  }
  .container {
    min-height: 400px;
  }
  .home-text h1 {
    font-size: 9px;
    top: 0px;
    margin-left: 50px;
    margin-top: 115px;
  }
  .btn {
    margin-top: 10px;
    margin-left: 47px;
    width: 80px;
    height: auto;
    font-size: 8px;
  }
  #videobox video {
    width: 320px;
  }
  #videobox {
    top: 110px;
  }
}
@media screen and (max-width: 500px) {
  #desktop-nav {
    padding: 30px 10%;
  }
  #desktop-nav .group {
    top: 10px;
  }
  .swiper-slide .wallpaper {
    width: 800px;
    height: auto;
  }
  .swiper-slide .logo1 {
    width: 250px;
    top: 20px;
    left: 45px;
  }
  .swiper-slide .logo2 {
    width: 250px;
    top: 50px;
    left: 45px;
  }
  .swiper-slide .logo3 {
    width: 200px;
    top: 20px;
    left: 45px;
  }
  .swiper-slide .logo4 {
    width: 250px;
    top: 30px;
    left: 30px;
  }
  .swiper-slide .logo5 {
    width: 200px;
    top: 40px;
    left: 45px;
  }
  .swiper-slide .logo6 {
    width: 250px;
    top: 50px;
    left: 45px;
  }
  .swiper-slide .logo7 {
    width: 250px;
    top: 30px;
    left: 45px;
  }
  .swiper-slide .logo8 {
    width: 250px;
    top: 10px;
    left: 45px;
  }
  .swiper-slide .logo9 {
    width: 250px;
    top: 50px;
    left: 45px;
  }
  .container {
    min-height: 450px;
  }
  .home-text h1 {
    font-size: 9px;
    top: 0px;
    margin-left: 50px;
    margin-top: 115px;
  }
  .btn {
    margin-top: 10px;
    margin-left: 47px;
    width: 80px;
    height: auto;
    font-size: 8px;
  }
  #videobox video {
    width: 220px;
  }
  #videobox {
    top: 130px;
    left: 250px;
  }
}
@media screen and (max-width: 470px) {
  #videobox video {
    width: 220px;
  }
  #videobox {
    top: 130px;
    left: 150px;
  }
}

@media screen and (max-width: 360px) {
  #desktop-nav {
    padding: 30px 10%;
  }
  #desktop-nav .group {
    top: 10px;
  }
  .swiper-slide .wallpaper {
    width: 800px;
    height: auto;
  }
  .swiper-slide .logo1 {
    width: 250px;
    top: 20px;
    left: 45px;
  }
  .swiper-slide .logo2 {
    width: 250px;
    top: 50px;
    left: 45px;
  }
  .swiper-slide .logo3 {
    width: 200px;
    top: 20px;
    left: 45px;
  }
  .swiper-slide .logo4 {
    width: 250px;
    top: 30px;
    left: 30px;
  }
  .swiper-slide .logo5 {
    width: 200px;
    top: 40px;
    left: 45px;
  }
  .swiper-slide .logo6 {
    width: 250px;
    top: 50px;
    left: 45px;
  }
  .swiper-slide .logo7 {
    width: 250px;
    top: 30px;
    left: 45px;
  }
  .swiper-slide .logo8 {
    width: 250px;
    top: 10px;
    left: 45px;
  }
  .swiper-slide .logo9 {
    width: 250px;
    top: 50px;
    left: 45px;
  }
  .container {
    min-height: 450px;
  }
  .home-text h1 {
    font-size: 9px;
    top: 0px;
    margin-left: 50px;
    margin-top: 115px;
  }
  .btn {
    margin-top: 10px;
    margin-left: 47px;
    width: 80px;
    height: auto;
    font-size: 8px;
  }
  #videobox video {
    width: 220px;
  }
  #videobox {
    top: 130px;
    left: 75px;
  }
}

/* media query */
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  section {
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  .home .box .content h3 p {
    font-size: 5rem;
    overflow: scroll;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}
/* Browse  */
@media screen and (max-width: 600px) {
  .anime-card img {
    width: 180px;
  }
  .anime-card h3,
  p {
    font-size: 15px;
  }
}
@media screen and (max-width: 360px) {
  .filters {
    left: 0px;
  }
  .filters label {
    font-size: 20px;
  }
}
