/* media query */
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  header {
    padding: 1rem 2rem;
  }
  section {
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  .home .box .content h3 p {
    font-size: 5rem;
    overflow: scroll;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}
