
/* Homepage responsive */

@media screen and (max-width: 1366px) {
  #desktop-nav {
    padding: 20px 10%;
  }
  #desktop-nav .group {
    top: 10px;
  }
  .swiper-slide .wallpaper {
    width: 1500px;
    height: auto;
  }

  .container {
    min-height: 750px;
  }
  .container .logo2 {
    width: 600px;
    height: auto;
    top: 150px;
    left: 50px;
  }

  #videobox video {
    width: 580px;
  }
}
@media screen and (max-width: 1000px) {
  #desktop-nav {
    padding: 20px 10%;
  }
  #desktop-nav .group {
    top: 10px;
  }
  .swiper-slide .wallpaper {
    width: 1000px;
    height: auto;
  }

  .container {
    min-height: 550px;
  }
  .container .logo2 {
    width: 600px;
    height: auto;
    top: 150px;
    left: 50px;
  }

  #videobox video {
    width: 580px;
  }
  .swiper-slide .logo1 {
    width: 250px;
    top: 20px;
    left: 45px;
  }
  .swiper-slide .logo2 {
    width: 250px;
    top: 50px;
    left: 45px;
  }
  .swiper-slide .logo3 {
    width: 200px;
    top: 20px;
    left: 45px;
  }
  .swiper-slide .logo4 {
    width: 250px;
    top: 30px;
    left: 30px;
  }
  .swiper-slide .logo5 {
    width: 200px;
    top: 40px;
    left: 45px;
  }
  .swiper-slide .logo6 {
    width: 250px;
    top: 50px;
    left: 45px;
  }
  .swiper-slide .logo7 {
    width: 250px;
    top: 30px;
    left: 45px;
  }
  .swiper-slide .logo8 {
    width: 250px;
    top: 10px;
    left: 45px;
  }
  .swiper-slide .logo9 {
    width: 250px;
    top: 50px;
    left: 45px;
  }

  .home-text h1 {
    font-size: 9px;
    top: 0px;
    margin-left: 50px;
    margin-top: 115px;
  }
  .btn {
    margin-top: 10px;
    margin-left: 47px;
    width: 80px;
    height: auto;
    font-size: 8px;
  }
  #videobox video {
    width: 320px;
  }
  #videobox {
    top: 110px;
  }
}

@media screen and (max-width: 800px) {
  #desktop-nav {
    padding: 20px 10%;
  }
  #desktop-nav .group {
    top: 10px;
  }
  .swiper-slide .wallpaper {
    width: 800px;
    height: auto;
  }
  .swiper-slide .logo1 {
    width: 250px;
    top: 20px;
    left: 45px;
  }
  .swiper-slide .logo2 {
    width: 250px;
    top: 50px;
    left: 45px;
  }
  .swiper-slide .logo3 {
    width: 200px;
    top: 20px;
    left: 45px;
  }
  .swiper-slide .logo4 {
    width: 250px;
    top: 30px;
    left: 30px;
  }
  .swiper-slide .logo5 {
    width: 200px;
    top: 40px;
    left: 45px;
  }
  .swiper-slide .logo6 {
    width: 250px;
    top: 50px;
    left: 45px;
  }
  .swiper-slide .logo7 {
    width: 250px;
    top: 30px;
    left: 45px;
  }
  .swiper-slide .logo8 {
    width: 250px;
    top: 10px;
    left: 45px;
  }
  .swiper-slide .logo9 {
    width: 250px;
    top: 50px;
    left: 45px;
  }
  .container {
    min-height: 400px;
  }
  .home-text h1 {
    font-size: 9px;
    top: 0px;
    margin-left: 50px;
    margin-top: 115px;
  }
  .btn {
    margin-top: 10px;
    margin-left: 47px;
    width: 80px;
    height: auto;
    font-size: 8px;
  }
  #videobox video {
    width: 320px;
  }
  #videobox {
    top: 110px;
  }
}
@media screen and (max-width: 500px) {
  #desktop-nav {
    padding: 20px 10%;
  }
  #desktop-nav .group {
    top: 10px;
  }
  .swiper-slide .wallpaper {
    width: 800px;
    height: auto;
  }
  .swiper-slide .logo1 {
    width: 250px;
    top: 20px;
    left: 45px;
  }
  .swiper-slide .logo2 {
    width: 250px;
    top: 50px;
    left: 45px;
  }
  .swiper-slide .logo3 {
    width: 200px;
    top: 20px;
    left: 45px;
  }
  .swiper-slide .logo4 {
    width: 250px;
    top: 30px;
    left: 30px;
  }
  .swiper-slide .logo5 {
    width: 200px;
    top: 40px;
    left: 45px;
  }
  .swiper-slide .logo6 {
    width: 250px;
    top: 50px;
    left: 45px;
  }
  .swiper-slide .logo7 {
    width: 250px;
    top: 30px;
    left: 45px;
  }
  .swiper-slide .logo8 {
    width: 250px;
    top: 10px;
    left: 45px;
  }
  .swiper-slide .logo9 {
    width: 250px;
    top: 50px;
    left: 45px;
  }
  .container {
    min-height: 450px;
  }
  .home-text h1 {
    font-size: 9px;
    top: 0px;
    margin-left: 50px;
    margin-top: 115px;
  }
  .btn {
    margin-top: 10px;
    margin-left: 47px;
    width: 80px;
    height: auto;
    font-size: 8px;
  }
  #videobox video {
    width: 220px;
  }
  #videobox {
    top: 130px;
    left: 75px;
  }
}

@media screen and (max-width: 360px) {
  #desktop-nav {
    padding: 20px 10%;
  }
  #desktop-nav .group {
    top: 10px;
  }
  .swiper-slide .wallpaper {
    width: 800px;
    height: auto;
  }
  .swiper-slide .logo1 {
    width: 250px;
    top: 20px;
    left: 45px;
  }
  .swiper-slide .logo2 {
    width: 250px;
    top: 50px;
    left: 45px;
  }
  .swiper-slide .logo3 {
    width: 200px;
    top: 20px;
    left: 45px;
  }
  .swiper-slide .logo4 {
    width: 250px;
    top: 30px;
    left: 30px;
  }
  .swiper-slide .logo5 {
    width: 200px;
    top: 40px;
    left: 45px;
  }
  .swiper-slide .logo6 {
    width: 250px;
    top: 50px;
    left: 45px;
  }
  .swiper-slide .logo7 {
    width: 250px;
    top: 30px;
    left: 45px;
  }
  .swiper-slide .logo8 {
    width: 250px;
    top: 10px;
    left: 45px;
  }
  .swiper-slide .logo9 {
    width: 250px;
    top: 50px;
    left: 45px;
  }
  .container {
    min-height: 450px;
  }
  .home-text h1 {
    font-size: 9px;
    top: 0px;
    margin-left: 50px;
    margin-top: 115px;
  }
  .btn {
    margin-top: 10px;
    margin-left: 47px;
    width: 80px;
    height: auto;
    font-size: 8px;
  }
  #videobox video {
    width: 220px;
  }
  #videobox {
    top: 130px;
    left: 75px;
  }
}

/* media query */
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  header {
    padding: 1rem 2rem;
  }
  section {
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  .home .box .content h3 p {
    font-size: 5rem;
    overflow: scroll;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}

/*browse*/
@media screen and (max-width: 600px) {
  .anime-card img {
    width: 180px;
  }
  .anime-card h3,
  p {
    font-size: 15px;
  }