@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald&family=Roboto:ital,wght@0,300;0,400;0,500;1,300&display=swap");
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  height: 100%;
}
html {
  scroll-behavior: smooth;
}
.desktop-nav {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.desktop-nav .wrapper {
  background-color: #ffffff;
  overflow: hidden;
  width: 1920px;
  height: 1080px;
}
.desktop-nav .overlap {
  position: relative;
  width: 1978px;
  height: 1080px;
}
.desktop-nav .wallpaper1 {
  position: absolute;
  width: 1500px;
  height: 700px;
  top: 0;
  left: 0;
  object-fit: cover;
}
.desktop-nav .nav-bar {
  position: absolute;
  width: 1920px;
  height: 100px;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
}

.desktop-nav .group-1 {
  position: absolute;
  width: 234px;
  height: 52px;
  top: 17px;
  left: 56px;
}
.desktop-nav .element-1 {
  position: absolute;
  width: 70px;
  height: auto;
  top: 0px;
  left: 0px;
}
.desktop-nav .text-wrapper {
  position: absolute;
  top: 45px;
  left: 80px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #ffffff;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.desktop-nav .div {
  position: absolute;
  width: 164px;
  top: 0;
  left: 80px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  color: #ffffff;
  font-size: 29px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}
